.flex {
  display: flex;
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.flex-end{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* flex垂直排列 */
.flex-col {
  display: flex;
  flex-direction: column;
}
/* flex全居中 */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* flex竖向全居中 */
.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* flex垂直居中 */
.flex-center-y {
  display: flex;
  align-items: center;
}
/* flex水平居中 */
.flex-center-x {
  display: flex;
  justify-content: center;
}
/* flex左右靠边 */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 水平均匀分布 */
.flex-around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


input{border: none;outline: none;}


/* 子元素超过父元素宽度可横向滚动 */
.full-x{overflow-x: scroll;overflow-y: hidden;white-space: nowrap;width: 100%;}
/* 隐藏滚动条 */
.full-x::-webkit-scrollbar {display:none}
/* 多行文字超出显示省略号 */
.ellipsis-two{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
/* 单行文字超出显示省略号 */
.ellipsis{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}


#app * {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
select,
button {
  border: none;
  outline: none;
}
body,
p {
  margin: 0;
  padding: 0;
}
.anisca {
  cursor: pointer;
  overflow: hidden;
}
.anisca img {
  cursor: pointer;
  transition: all 0.8s;
  transform: scale(1, 1);
}
.anisca:hover img {
  transform: scale(1.2, 1.2);
}